<%provide(:title,'Test')%>
<h1>Test page : Route, JSON, XML etc... </h1>

<div class="row">
	<div class="span6 offset3">
		<h2> Liste des utilisateurs </h2>
		<%= @user.each do |user| %>
		<h2> Utilisateur : <%= user.name %> , <%= user.email %> </h2>
		<% end %>
	</div>
</div>