<div class="col-md-12">
	<div class="jumbotron">
		<h1> Brainbox</h1>
		 
		<p>Gérez, partagez vos idées avec Brainbox</p>
		<p><%= link_to "Create Account", new_account_path, class: "btn btn-primary btn-lg" %></p>
	</div>
</div>