<% if user_signed_in? %>

	<div class="col-md-12">
	<div class="jumbotron">
		<h1> Page Accueil <%=@current_account.subdomain.capitalize%> <%= @current_account.subscription_type.capitalize %> <br></br></h1>	
		<h3> Bienvenue <%= current_user.name %>			
	</div>
</div>

<% else %>
		<div class="jumbotron">
			<div class="alert alert-danger">
				<h2> Vous n'êtes pas identifié ! </h2>		
			</div>
			<h3> Pour vous identifier : </h3>
			<p><%= link_to "Sign-in", root_path, class: "btn btn-primary btn-lg" %></p>
		</div>
<% end %>